# Telegram Bot Token from @BotFather
BOT_TOKEN=YOUR_BOT_TOKEN_HERE

# Admin Telegram User ID
ADMIN_ID=8929349073

# Optional Telegram Group & Channel ID
GROUP_ID=-1004424672543
CHANNEL_ID=-1004478024761

# Supabase Credentials (from settings -> API)
SUPABASE_URL=YOUR_SUPABASE_URL_HERE
SUPABASE_KEY=YOUR_SUPABASE_KEY_HERE

